.slider {
  margin-top: 11px;
}

.slider > .dragger {
  background: #ffffff;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;

  width: 36px;
  height: 36px;
  border: 4px solid #000;
}

.slider > .dragger:hover {
  
}


.slider > .track, .slider > .highlight-track {
  background: #4d4d4d;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  height: 6px;
}

.slider > .highlight-track {
	background-color: #8DCA09;
	background: -webkit-linear-gradient(top, #8DCA09, #72A307);
	background: -moz-linear-gradient(top, #8DCA09, #72A307);
	background: linear-gradient(top, #8DCA09, #72A307);
	
	border-color: #496805;
}

